/*main.css*/

:root {
    --blue: #05c7f2;
    --pink: #f2688a;
}

body {
    margin: 0px;
    height: 90vh;

}

html {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#webgl {
    display: block;
    z-index: 1;
}

.gui {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: 'pink';
    z-index: 2;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Merriweather', serif; 
}

.property-name {
    font-size: .9rem;
    font-family: 'Raleway', sans-serif;
}

#auxiliary {
    position: absolute;
    top: 2px;
    right: 40%;
    left: 40%;
    text-align: center;
    color: white;
    opacity: 40%;
    z-index: 2;
}

#auxiliary > a {
    text-decoration: none;
    color: white;
}
#auxiliary > a:hover {
    text-decoration: underline;
    color: pink;
} 

/* Side nav */

  
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--blue);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; 
}
#sidebar .h6 {
    color: #fff; 
}

#sidebar.active {
    margin-left: -250px; 
}

#sidebar.active .custom-menu {
    margin-right: -50px; 
}

#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700; 
}

#sidebar h1 .logo {
    color: #fff; 
}

#sidebar ul.components {
    padding: 0; 
}

#sidebar ul li {
    font-size: 16px; 
}
#sidebar ul li > ul {
    margin-left: 10px; 
}
#sidebar ul li > ul li {
        font-size: 14px; 
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
#sidebar ul li a:hover {
        color: #fff; 
}

#sidebar ul li.active > a {
    background: transparent;
    color: #fff; 
}

@media (max-width: 991.98px) {
    #sidebar {
    margin-left: -250px; 
    }
    #sidebar.active {
        margin-left: 0; 
    }
    #sidebar .custom-menu {
        margin-right: -50px !important;
        top: 10px !important; 
    } 
}
#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; 
    } 

}
.custom-menu {
    height: 100vh;
}
#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}
#sidebar .custom-menu .btn.btn-primary {
    background: var(--blue);
    border-color: var(--blue); 
}
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: var(--blue) !important;
    border-color: var(--blue) !important; 
}

a[data-toggle="collapse"] {
    position: relative; 
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none; 
    } 
}

#side {
    height: 100vh;
    overflow: auto;
    z-index: 2;
    position: fixed;
    top: 0px;
    background-color: rgb(9, 123, 250);
}



.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; 
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important; 
}

.p-4 {
    padding: 1.5rem !important; 
}

.pt-5,
.py-5 {
  padding-top: 3rem !important; 
}

.list-unstyled {
padding-left: 0;
list-style: none; 
}

#sidebar ul.components {
    padding: 0; 
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0; 
}
  
/* .sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal; 
} */

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

#insertedText {
    width: 50%;
}

label {
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.no-decoration{
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
}

.rm-button{
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 3%;
    background-color: rgb(31, 68, 233);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

.helper-gui {

    position: absolute;
    top: 0px;
    right: 250px;
    background-color: 'pink';
    z-index: 10000;

}

li.custom-camera-range label{
    padding: 5px;
    display: block;
}
li.custom-camera-range input{
    display: block;
    margin-left: 30px;
}

output {
    display: block;
    position: relative;
    color: rgb(134, 126, 126);
    font-size: .75rem;
    margin-left: 140px;
}

.plane-texture {
    display: inline-block;
    font-size: .65rem;
    margin-left: 10px;
    opacity: 50%;
}
.plane-texture:hover {
    opacity: 70%;
    color: blue;
    transition: 0.3s;
}
#outAmplitude, #outx, #outy, #outz {
    margin-left: 140px;
    position: relative;
    color: rgb(134, 126, 126);
    font-size: .75rem;
    margin-left: 140px;
}
#bg-color{
    margin-left: 10px;
}